# Ignore virtual environment
genai_hr_chatbot_env/

# Ignore cache files
__pycache__/
*.pyc

# Ignore API keys
.env


# Ignore test scripts and sensitive files
test_pdf_reader.py
test_azure_api.py
test_azure_openai.py
